* {
  background-color: black;
  color: white;
  font-family: monospace;
}
body {
  margin: 0;
  padding: 20px;
}
p {
  margin: 20px 0;
}
/* Header layout nav*/
header nav {
  border: 1px solid white;
  display: flex;
  padding: 20px;
  max-width: 1200px;
  justify-content: space-between;
}
header nav a {
  text-decoration: none;
  padding: 10px;
  border-radius: 4px;
}
header nav a:hover {
  color: greenyellow;
}
header nav a.active {
  background-color: rgb(118, 146, 64);
}
/* Planets nav bar*/
.planets nav {
  display: flex;
  gap: 30px;
  justify-content: center;
  margin: 30px 0;
}
.planets nav a {
  text-decoration: none;
  border: 1px solid white;
  padding: 10px;
  border-radius: 4px;
}
.planets nav a:hover {
  color: greenyellow;
}
.planets nav a.active {
  background-color: rgb(118, 146, 64);
}
.button {
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: 120px;
  height: 40px;
  margin-bottom: 10px;
  color: white;
  background-color: black;
  border: 2px solid white;
}
.button:hover {
  color: greenyellow;
}
